<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.applab.digitizingdata"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <!-- to allow for checking Connectivity Status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- to allow Activation over the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- to allow access to telephony -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- to allow access to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:theme="@style/AppTheme" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ledgerlink_icona"
        android:label="@string/app_name"
        android:theme="@style/LedgerLinkTheme"
        android:name="org.applab.digitizingdata.LedgerLinkApplication">
        <!--android:debuggable="false"> -->
        <activity
            android:name="org.applab.digitizingdata.LoginActivity"
            android:label="Ledger Link" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.applab.digitizingdata.MainActivity"
            android:label="Main Menu" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.MeetingTabHostActivity"
            android:label="Meeting" />
        <activity
            android:name="org.applab.digitizingdata.MemberDetailsViewActivity"
            android:label="Member Details" />
        <activity
            android:name="org.applab.digitizingdata.MeetingActivity"
            android:label="Meeting"
            android:parentActivityName="org.applab.digitizingdata.BeginMeetingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.digitizingdata.BeginMeetingActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.EndCycleActivity"
            android:label="@string/title_activity_end_cycle"
            android:parentActivityName="org.applab.digitizingdata.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.NewCycleActivity"
            android:label="New Cycle" />
        <activity
            android:name="org.applab.digitizingdata.NewCyclePg2Activity"
            android:label="@string/title_activity_new_cycle_pg2"
            android:parentActivityName="org.applab.digitizingdata.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.MeetingDefinitionActivity"
            android:label="Create New Meeting" />
        <activity
            android:name="org.applab.digitizingdata.MemberSavingHistoryActivity"
            android:label="Savings History" />
        <activity
            android:name="org.applab.digitizingdata.MemberFinesHistoryActivity"
            android:label="Fines History" />
        <activity
            android:name="org.applab.digitizingdata.FineMemberMeetingActivity"
            android:label="Fine Member" />
        <activity
            android:name="org.applab.digitizingdata.AddFineActivity"
            android:label="Fine Member" />
        <activity android:name="org.applab.digitizingdata.MemberLoansIssuedHistoryActivity" />
        <activity android:name="org.applab.digitizingdata.MemberLoansRepaidHistoryActivity" />
        <activity
            android:name="org.applab.digitizingdata.SendDataActivity"
            android:label="@string/title_activity_send_data"
            android:parentActivityName="org.applab.digitizingdata.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.AddMemberActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_add_member"
            android:parentActivityName="org.applab.digitizingdata.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.MembersListActivity"
            android:label="@string/title_activity_members_list"
            android:parentActivityName="org.applab.digitizingdata.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.SendMeetingDataActivity"
            android:label="@string/title_activity_send_meeting_data"
            android:parentActivityName="org.applab.digitizingdata.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.ViewSentDataActivity"
            android:label="View Sent Data" />
        <activity
            android:name="org.applab.digitizingdata.MemberAttendanceHistoryActivity"
            android:label="@string/title_activity_member_attendance_history"
            android:parentActivityName="org.applab.digitizingdata.MainActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.ActivationActivity"
            android:label="@string/title_activity_activation" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.GettingStartedWizardAddMemberActivity"
            android:label="@string/title_activity_gettings_started_wizard_add_member" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.GettingStartedWizardReviewMembersActivity"
            android:label="@string/title_activity_gettings_started_wizard_review_members" >
        </activity>
        <activity
            android:name=".GettingStartedWizardNewCycleActivity"
            android:label="@string/title_activity_gettings_started_wizard_add_cycle"
            android:parentActivityName="org.applab.digitizingdata.GettingStartedWizardPageOne" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Introduction" />
        </activity>
        <activity
            android:name="org.applab.digitizingdata.GettingStartedWizardPageOne"
            android:label="@string/title_activity_gettings_started_wizard_page_1" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.GettingStartedWizardPageTwo"
            android:label="@string/title_activity_gettings_started_wizard_page_2" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.GettingStartedConfirmationPage"
            android:label="Confirmation" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.SelectCycle"
            android:label="Select Cycle" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.DataMigrationActivity"
            android:label="Data Migration" />
        <activity
            android:name="org.applab.digitizingdata.BeginMeetingActivity"
            android:label="@string/title_activity_begin_meeting" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.DeleteMeetingActivity"
            android:label="@string/title_activity_delete_meeting" >
        </activity>
        <activity
            android:name="org.applab.digitizingdata.ChangeMeetingDateActivity"
            android:label="@string/title_activity_change_meeting_date" >
        </activity>
    </application>

</manifest>
