<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.applab.ledgerlink">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="28" />

    <!-- to allow for checking Connectivity Status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- to allow Activation over the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- to allow access to telephony -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- to allow access to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="533"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="24" />

    <!-- android:theme="@style/AppTheme" -->
    <application
        android:name=".LedgerLinkApplication"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@drawable/ic_ledgerlink_icona"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">

        <!-- android:debuggable="false"> -->
        <activity
            android:name=".LoginActivity"
            android:label="Ledger Link">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Main Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeetingTabHostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Meeting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberDetailsViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Member Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeetingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Meeting"
            android:parentActivityName=".BeginMeetingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"
                android:value="org.applab.ledgerlink.BeginMeetingActivity" />
        </activity>
        <activity
            android:name=".CycleSummaryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Meeting"
            android:parentActivityName=".CycleSummaryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"
                android:value="org.applab.ledgerlink.CycleSummaryActivity" />
        </activity>
        <activity
            android:name=".EndCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_end_cycle"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".NewCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="New Cycle"
            android:screenOrientation="portrait"
            android:theme="@style/CycleActionBarTheme" />
        <activity
            android:name=".NewCyclePg2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_cycle_pg2"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".MeetingDefinitionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Create New Meeting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberSavingHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Savings History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberFinesHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fines History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FineMemberMeetingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fine Member"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fine Member"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberLoansIssuedHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberLoansRepaidHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_send_data"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".AddMemberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_member"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".MembersListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_members_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".ShareOutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_shareout_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".SendMeetingDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_send_meeting_data"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".ViewSentDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/sent_data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberAttendanceHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_member_attendance_history"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".ActivationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStartedWizardAddMemberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_add_member"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".GettingStartedWizardReviewMembersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_review_members"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStartedWizardNewCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_add_cycle"
            android:parentActivityName=".GettingStartedWizardPageOne"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.MainActivity" />
        </activity>
        <activity
            android:name=".GettingStartedWizardPageOne"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_page_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStartedWizardPageTwo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_page_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStartedConfirmationPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Confirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCycle"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Select Cycle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataMigrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Data Migration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeginMeetingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_begin_meeting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/ListActivityTheme" />
        <activity
            android:name=".DeleteMeetingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_delete_meeting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeMeetingDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_change_meeting_date"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataRecoveryActivity"
            android:label="@string/title_activity_data_recovery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PassKeyResetActivity"
            android:label="@string/title_activity_passkey_recovery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainingModuleActivity"
            android:label="@string/title_activity_training_module"
            android:screenOrientation="portrait" />

        <!--
        <service android:name=".service.BackgroundService" />
        <service android:name=".service.TrainingModuleService" />
        -->
        <service android:name=".service.OutboundChatService" />
        <service android:name=".service.InboundChatService" />
        <service android:name=".service.UpdateChatService" />

        <receiver android:name=".service.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.TrainingModuleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.OutboundChatReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.InboundChatReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name=".service.UpdateChatReceiver">
        </receiver>
        -->

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".LedgerLinkTrainingActivity"
            android:label="@string/title_activity_ledger_link_training"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EKeysTrainingActivity"
            android:label="@string/title_activity_ekeys_training"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeneralSupportActivity"
            android:label="@string/title_activity_general_support"
            android:screenOrientation="portrait" />
        activity
        android:name=".MeetingMemberLoansIssueFrag"
        android:label="@string/title_activity_meeting_member_loans_issue_frag" />
        <activity
            android:name=".MeetingMemberLoansIssueActivity"
            android:label="@string/title_activity_meeting_member_loans_issue" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" />
        <activity
            android:name=".MODActivity"
            android:label="@string/title_activity_mod" />
        <activity android:name=".MemberWelfareHistoryActivity" />
        <activity android:name=".BorrowWelfareMeetingActivity" />
        <activity android:name=".AddBorrowFromWelfareMeetingActivity" />
        <activity android:name=".MemberOutstandingWelfareHistoryActivity" />
        <activity android:name=".TestingActivity" />

    </application>

</manifest>