<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.applab.ledgerlink"
    android:versionCode="5"
    android:versionName="@string/about_version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <!-- to allow for checking Connectivity Status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- to allow Activation over the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- to allow access to telephony -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- to allow access to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="533"
        tools:ignore="UnusedAttribute" />

    <!-- android:theme="@style/AppTheme" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ledgerlink_icona"
        android:label="@string/app_name"
        android:theme="@style/LedgerLinkTheme"
        android:name="org.applab.ledgerlink.LedgerLinkApplication">
       <!-- android:debuggable="false"> -->
        <activity
            android:name="org.applab.ledgerlink.LoginActivity"
            android:label="Ledger Link" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.applab.ledgerlink.MainActivity"
            android:label="Main Menu"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="org.applab.ledgerlink.MeetingTabHostActivity"
            android:label="Meeting"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="org.applab.ledgerlink.MemberDetailsViewActivity"
            android:label="Member Details"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="org.applab.ledgerlink.MeetingActivity"
            android:label="Meeting"
            android:parentActivityName="org.applab.ledgerlink.BeginMeetingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.applab.ledgerlink.BeginMeetingActivity"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden|screenSize"/>
        </activity>
        <activity
            android:name="org.applab.ledgerlink.EndCycleActivity"
            android:label="@string/title_activity_end_cycle"
            android:parentActivityName="org.applab.ledgerlink.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.NewCycleActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="New Cycle" />
        <activity
            android:name="org.applab.ledgerlink.NewCyclePg2Activity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_cycle_pg2"
            android:parentActivityName="org.applab.ledgerlink.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.MeetingDefinitionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Create New Meeting" />
        <activity
            android:name="org.applab.ledgerlink.MemberSavingHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Savings History" />
        <activity
            android:name="org.applab.ledgerlink.MemberFinesHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fines History" />
        <activity
            android:name="org.applab.ledgerlink.FineMemberMeetingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fine Member" />
        <activity
            android:name="org.applab.ledgerlink.AddFineActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fine Member" />
        <activity android:name="org.applab.ledgerlink.MemberLoansIssuedHistoryActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="org.applab.ledgerlink.MemberLoansRepaidHistoryActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="org.applab.ledgerlink.SendDataActivity"
            android:label="@string/title_activity_send_data"
            android:parentActivityName="org.applab.ledgerlink.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.AddMemberActivity"
            android:label="@string/title_activity_add_member"
            android:parentActivityName="org.applab.ledgerlink.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.MembersListActivity"
            android:label="@string/title_activity_members_list"
            android:parentActivityName="org.applab.ledgerlink.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.SendMeetingDataActivity"
            android:label="@string/title_activity_send_meeting_data"
            android:parentActivityName="org.applab.ledgerlink.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.ViewSentDataActivity"
            android:label="View Sent Data"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="org.applab.ledgerlink.MemberAttendanceHistoryActivity"
            android:label="@string/title_activity_member_attendance_history"
            android:parentActivityName="org.applab.ledgerlink.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.ActivationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activation" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.GettingStartedWizardAddMemberActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_add_member" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.GettingStartedWizardReviewMembersActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_review_members" >
        </activity>
        <activity
            android:name=".GettingStartedWizardNewCycleActivity"
            android:label="@string/title_activity_gettings_started_wizard_add_cycle"
            android:parentActivityName="org.applab.ledgerlink.GettingStartedWizardPageOne"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="org.applab.ledgerlink.GettingStartedWizardPageOne"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_page_1" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.GettingStartedWizardPageTwo"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gettings_started_wizard_page_2" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.GettingStartedConfirmationPage"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Confirmation" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.SelectCycle"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Select Cycle" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.DataMigrationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Data Migration" />
        <activity
            android:name="org.applab.ledgerlink.BeginMeetingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_begin_meeting" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.DeleteMeetingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_delete_meeting" >
        </activity>
        <activity
            android:name="org.applab.ledgerlink.ChangeMeetingDateActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_change_meeting_date" >
        </activity>
        <activity
                android:name="com.ipaulpro.afilechooser.FileChooserActivity"
                android:icon="@drawable/ic_chooser"
                android:enabled="@bool/use_activity"
                android:exported="true"
                android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
